<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register form</title>
</head>
<body>
<form action="#" th:action="@{/api/adduser}" th:object="${user}" method="post">
    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email" placeholder="Email">
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
    <label for="password">Password</label>
    <input type="password" th:field="*{password}" id="password" placeholder="Password">
    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
    <input type="submit" value="Add user">
</form>
</body>
</html>